{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '\questions\css\questions_create.css' %}" />
{% endblock %}
{% block content %}
<div class="back-color">
<div class="container">
  <div class="question-page">
    <div class="question-page__first-block first-block">
      <div class="first-block__title">Создать вопрос</div>
      <div class="first-block__form">
        <form method="post">
          <div class="choice-category">
            {{form.category.label}}
            {{form.category}}</div>
          <div class="first-block__question">
            <div class="question__label">{{form.question_text.label}}</div>
            {{form.question_text}}
          </div>
          <div class="answers">
            <div class="answers__two-input two-input">
              <div class="two-input__first-input">
                {{form.question_choice1.label}}
                {{form.question_choice1}}
              </div>
              <div class="two-input__second-input">
                {{form.question_choice2.label}}
                {{form.question_choice2}}
              </div>
            </div>
            <div class="answers__two-input two-input">
              <div class="two-input__first-input">
                {{form.question_choice3.label}}
                {{form.question_choice3}}
              </div>
              <div class="two-input__second-input">
                {{form.question_choice4.label}}
                {{form.question_choice4}}
          </div>
          </div>
        </div>
          <div class="first-block__title first-block__correct-asnwer-title">Верный Ответ:</div>
          <div class="radio-buttons">
            <div class="two-radio-button">
              <div class="first_button">
              <input type="radio" id="answer_1" name="correct-answer" value="1">
              <label for="answer_1">Ответ 1</label></div>
              <div class="second_button">
              <input type="radio" id="answer_2" name="correct-answer" value="2">
              <label for="answer_2">Ответ 2</label></div>
            </div>
            <div class="two-radio-button">
              <div class="first_button">
              <input type="radio" id="answer_3" name="correct-answer" value="3">
              <label for="answer_1">Ответ 3</label></div>
              <div class="second_button">
              <input type="radio" id="answer_4" name="correct-answer" value="4">
              <label for="answer_2">Ответ 4</label></div>
            </div>
          </div>
          <div class="submit-buttons">
            <button type="submit" class="submit-button">Готово</button>
          </div>
        </form> 
      </div>
    </div>
  </div>
</div></div>
{% endblock %}
