{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '\users\css\signin.css' %}" />
{% endblock %}
{% block content %}
<div class="signin-page">
  <div class="signin-page__main-block signin-main-block">
    <div class="container">
      <div class="signin-main-block__body">
        <div class="signin-main-block__title title">Сменить пароль</div>
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %} 
               <div class="alert alert-danger" id="error">
                    <strong>{{ error|escape }}</strong>
                    <span class="closebtn" onclick="hide_button()" >×</span>
               </div>
            {% endfor %}
        {% endfor %}
     {% endif %}
        <form method="post" action="{% url 'users:change_password' %}" class="main-block__signin">
            {% csrf_token %}
          {% for field in form %}
          <div class="one-field"><p class="one-field__label">{{field.label_tag}}</p>
          <div>{{field}}</div></div>{% endfor %}
          <div class="form__button">
            <button type="submit" class="signin-button">Подтвердить</button>
          </div>
<script src="{% static '\includes\js\hide_button.js' %}"></script>
{% endblock %}
