{% extends 'base.html' %} {% load static %}
{% block content %}
<div class="page">
    <div class="page__main-block main-block">
      <div class="_container">
        <div class="main-block__body">
          <div class="main-block__title title">Готово!</div>
          <div class="page-block__text">Пароль изменён.</div>
          <div class="title__button">
            <a href="{% url 'users:signin' %}" class="button">Войти в аккаунт</a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
