{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page">
    <div class="page__main-block main-block">
      <div class="_container">
        <div class="main-block__body">
          <div class="main-block__title title">Готово!</div>
          <div class="page-block__text">Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время. Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом..</div>

        </div>
      </div>
    </div>
</div>
{% endblock %}
