{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '\users\css\signin.css' %}" />
{% endblock %}
{% block content %}
<div class="signin-page">
  <div class="signin-page__main-block signin-main-block">
    <div class="container">
      <div class="signin-main-block__body">
        <div class="signin-main-block__title title">Авторизация</div>
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %} 
               <div class="alert alert-danger" id="error">
                    <strong>{{ error|escape }}</strong>
                    <span class="closebtn" onclick="hide_button()" >×</span>
               </div>
            {% endfor %}
        {% endfor %}
     {% endif %}
        <form method="post" action="{% url 'users:signin' %}" class="main-block__signin">
          {% csrf_token %}
          {% for field in form %}
          <div class="one-field"><p class="one-field__label">{{field.label_tag}}</p>
          <div>{{field}}</div></div>{% endfor %}
          <div class="form__button">
            <button type="submit" class="signin-button">Подтвердить</button>
          </div>
          <div class="help-buttons">
            <div class="help-buttons__body buttons-body">
              <div class="buttons-body__text">Нет аккаунта?</div>
              <a href="{% url 'users:signup' %}" class="buttons-body__button signin-button">Создать</a>
            </div>
            <div class="help-buttons__body buttons-body">
              <div class="buttons-body__text">Забыли пароль?</div>
              <a href="{% url 'users:reset_password' %}" class="buttons-body__button signin-button big-button">Восстановить</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="{% static '\includes\js\hide_button.js' %}"></script>
{% endblock %}
