{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page">
  <div class="page__main-block main-block">
    <div class="_container">
      <div class="main-block__body">
        <div class="main-block__title title">Попробуй себя в йамозгах!</div>
        <div class="title__button">
          <a href="#" class="button">Играть</a>
        </div>
      </div>
    </div>
  </div>
  <div class="page__rules page-block">
    <div class="_container">
      <div class="page-block__body">
        <div class="page-block__title title">Как играть?</div>
        <div class="page-block__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          dolorum quia quod sunt blanditiis magni corrupti ipsam, deserunt amet
          ea reprehenderit eaque nemo saepe error necessitatibus sed itaque
          distinctio, omnis accusamus! Nihil consectetur asperiores dolore
          magnam amet quia corrupti ut pariatur quo. Nobis incidunt temporibus
          laboriosam ad aperiam repellat magnam atque error placeat maiores
          deserunt neque explicabo ratione consectetur, sint hic quis earum
          ipsum ex numquam corrupti praesentium rem illo quidem. Praesentium,
          illum vitae! Blanditiis corporis voluptatibus accusamus libero porro
          itaque dicta obcaecati ex delectus. Quibusdam quas quisquam ipsam
          vitae voluptate, debitis repellendus exercitationem dolores delectus
          quae cumque. Fugit, in! Nam ab delectus, asperiores repellat
          laudantium commodi! Exercitationem tempora eius aspernatur cupiditate
          eaque! Dolorum libero voluptatibus consequuntur quis quam doloribus
          odio praesentium quasi magni dolore illo eius beatae at itaque, ut aut
          fugit error alias! Alias, aut consequatur illum harum distinctio
          quidem deserunt nesciunt dolor earum ut voluptatibus quia sint cum
          debitis omnis tenetur laudantium in accusantium fugit temporibus amet
          laboriosam! Odio maxime libero eaque dicta, dolor natus fugit autem
          aliquid quia et adipisci possimus ut omnis ad, quo debitis, doloremque
          repellat expedita alias temporibus nemo deleniti quaerat facilis.
          Illum laudantium repudiandae ad praesentium autem tempora mollitia
          molestias tempore laboriosam.
        </div>
        <div class="page-block__footer footer-block">
          <div class="footer-block__text">
            Лучшие игроки попадают в таблицу лидеров!
          </div>
          <div class="footer-block__button">
            <a href="#" class="button">Перейти</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page__about-us page-block">
    <div class="_container">
      <div class="page-block__body">
        <div class="page-block__title title">O проекте</div>
        <div class="page-block__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          dolorum quia quod sunt blanditiis magni corrupti ipsam, deserunt amet
          ea reprehenderit eaque nemo saepe error necessitatibus sed itaque
          distinctio, omnis accusamus! Nihil consectetur asperiores dolore
          magnam amet quia corrupti ut pariatur quo. Nobis incidunt temporibus
          laboriosam ad aperiam repellat magnam atque error placeat maiores
          deserunt neque explicabo ratione consectetur, sint hic quis earum
          ipsum ex numquam corrupti praesentium rem illo quidem. Praesentium,
          illum vitae! Blanditiis corporis voluptatibus accusamus libero porro
          itaque dicta obcaecati ex delectus. Quibusdam quas quisquam ipsam
          vitae voluptate, debitis repellendus exercitationem dolores delectus
          quae cumque. Fugit, in! Nam ab delectus, asperiores repellat
          laudantium commodi! Exercitationem tempora eius aspernatur cupiditate
          eaque! Dolorum libero voluptatibus consequuntur quis quam doloribus
          odio praesentium quasi magni dolore illo eius beatae at itaque, ut aut
          fugit error alias! Alias, aut consequatur illum harum distinctio
          quidem deserunt nesciunt dolor earum ut voluptatibus quia sint cum
          debitis omnis tenetur laudantium in accusantium fugit temporibus amet
          laboriosam! Odio maxime libero eaque dicta, dolor natus fugit autem
          aliquid quia et adipisci possimus ut omnis ad, quo debitis, doloremque
          repellat expedita alias temporibus nemo deleniti quaerat facilis.
          Illum laudantium repudiandae ad praesentium autem tempora mollitia
          molestias tempore laboriosam.
        </div>
        <a href="#" class="button">Авторы</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
