{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page">
  <div class="page__main-block main-block">
    <div class="_container">
      <div class="main-block__body">
        <div class="main-block__title title">Попробуй себя в йамозгах!</div>
        <div class="title__button">
          <a href="{% url 'duels:battles' %}" class="button">Играть</a>
        </div>
      </div>
    </div>
  </div>
  <div class="page__rules page-block">
    <div class="_container">
      <div class="page-block__body">
        <div class="page-block__title title">Как играть?</div>
        <div class="page-block__text">
          Бросьте вызов другу или случайному игроку и одержите победу в увлекательной битве. 
Битва состоит из пяти тематических раундов (тему каждого нового раунда по очереди выбирают игроки). В ходе каждого раунда игрокам предлагается ответить на три вопроса, выбрав один верный вариант ответа из четырех предложенных. На размышление дается всего 66 секунд (по 22 секунды на каждый вопрос).
Игроку, победившему в битве, начисляется серое вещество - игровая валюта, которую можно обменять на подсказку. Подсказка позволяет при выборе ответа случайным образом удалить два неверных варианта. 
Играйте с умом! Желаем удачи!
        </div>
        <div class="page-block__footer footer-block">
          <div class="footer-block__text">
            Лучшие игроки попадают в таблицу лидеров!
          </div>
          <div class="footer-block__button">
            <a href="#" class="button">Перейти</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page__about-us page-block">
    <div class="_container">
      <div class="page-block__body">
        <div class="page-block__title title">O проекте</div>
        <div class="page-block__text">
          ЙАМОЗГИ - это лучшая браузерная игра
        </div>
        <a href="#" class="button">Авторы</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
