<header class="header">
  {% with request.resolver_match.view_name as view_name %}
    <div class="header__container _container">
      <div class="myalert">
        Пожалуйста, поверните экран телефона для правильной работы сайта
      </div>
      <nav class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            {%if view_name == 'homepage:home' %}
              <a href="{% url 'homepage:home' %}" class="menu__link active">Главная</a>
          </li>
          {% else %}
            <a href="{% url 'homepage:home' %}" class="menu__link">Главная</a>
          {% endif %}
          <li class="menu__item">
            {%if view_name == 'duels:battles' %}
              <a href="{% url 'duels:battles' %}" class="menu__link active">Битвы</a>
          </li>
          {% else %}
            <a href="{% url 'duels:battles' %}" class="menu__link">Битвы</a>
          {% endif %}
          <li class="menu__item">
            <a href="#" class="menu__link">Таблица лидеров</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Магазин</a>
          </li>

        </ul>
        {% if request.user.is_authenticated %}
          {% if view_name == 'users:profile' %}
            <div class="header__profile profile">
              <a href="{% url 'users:profile' %}" class="profile__name active">Профиль</a>
              {% if user.avatar != 'null' %}
              <img
                src="{{ user.avatar.url }}"
                alt="картинка-пользователя"
                class="profile__photo"
              />
              {% else %}
              <div class="none-photo"></div>
              {% endif %}
            </div>
          {% else %}
          <div class="header__profile profile">
            <a href="{% url 'users:profile' %}" class="profile__name">Профиль</a>
            {% if user.avatar != 'null' %}
              <img
                src="{{ user.avatar.url }}"
                alt="картинка-пользователя"
                class="profile__photo"
              />
              {% else %}
              <div class="none-photo"></div>
              {% endif %}
          </div>
          {%endif %}
        {% else %}
          <div class="header__reg-und-sig reg-und-sig">
            {% if view_name == 'users:signup' %}
              <a href="{% url 'users:signup' %}" class="reg-und-sig__item active">Зарегистрироваться</a>
            {% else %}
              <a href="{% url 'users:signup' %}" class="reg-und-sig__item">Зарегистрироваться</a>
            {% endif %}
            {% if view_name == 'users:signin' %}
              <a href="{% url 'users:signin' %}" class="reg-und-sig__item active">Войти</a>
            {% else %}
              <a href="{% url 'users:signin' %}" class="reg-und-sig__item">Войти</a>
            {% endif %}
          </div>
        {% endif %}
        {% endwith %}
      </nav>
    </div>
</header>
