<header class="header">
    <div class="header__container _container">
      <div class="alert">
        Пожалуйста, поверните экран телефона для правильной работы сайта
      </div>
      <nav class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#" class="menu__link active">Главная</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Битвы</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Таблица лидеров</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Магазин</a>
          </li>
        </ul>
        <div class="header__profile profile">
          <a href="#" class="profile__name">Профиль</a>
          <img
            src="..\..\static_dev\homepage\img\me.png"
            alt="картинка-пользователя"
            class="profile__photo"
          />
        </div>
      </nav>
    </div>
</header>

