{% extends "test/base.html" %}
{% load static %}
{% block title %} Список игроков {% endblock %}
{% block content %} 

<div class="container">
  <div class="row">
    {% for user in users %}
        <div class="col-3 align-items-center text-center">
              <div class="card" style="width: 15rem;">
                <div class="card-body">
                  <h5 class="card-title text-dark">{{user.login}}</h5>
                  <img
                    src={{ user.avatar.url }}
                    alt="картинка-пользователя"
                    class="profile__photo"/>
                </br>
              </br>
                  <a href="#" class="btn btn-primary">Бросить вызов</a>
                </div>
              </div>
            </br>
        </div>
      {% empty %}
      <div class="row text-center">
        <div class="col-12">
          <h4>Список пользователей пуст</h4>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
