{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '\duels\css\question.css' %}" />
{% endblock %}
{% block content %}
<div class="back-color">
    <div class="container">
        <div class="question">
            <div class="question__body">
                <div class="question__number">Вопрос 1:</div>
                <div class="question__text">
                    {{question.question_text}}
                </div>
                <div class="question__answers question-answers">
                    <div class="question-answers__body">
                        <div class="first_answer " onclick="is_right(this, '{{question.pk}}')">{{question.question_choice1}}</div>
                        <div class="second_answer"  onclick="is_right(this,  '{{question.pk}}')">{{question.question_choice2}}</div>
                    </div>
                    <div class="question-answers__body">
                        <div class="third_answer"  onclick="is_right(this,  '{{question.pk}}')">{{question.question_choice3}}</div>
                        <div class="fourth_answer"  onclick="is_right(this,  '{{question.pk}}')">{{question.question_choice4}}</div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script src="{% static 'js/csrf_token.js' %}"></script>
    <script type="text/javascript" src="{% static 'duels/js/get_answer.js' %}">
    </script>
</div>
{% endblock %}
